[*.cs]

# CS1690: Accessing a member on a field of a marshal-by-reference class may cause a runtime exception
dotnet_diagnostic.CS1690.severity = silent

# IDE0055: Fix formatting
dotnet_diagnostic.IDE0055.severity = warning

# Enable code analysis for *.Designer files that are not actually designer generated
[{ConfigData,ConfigHelp,ConfigMenu,ConfigModule,ConfigTool,ConfigVehicle,Controls,GUI,NMEA,NTRIPComm,OpenGL,PGN,Position,SaveOpen,Sections,SerialComm,UDP,UDPComm}.Designer.cs]
generated_code = false
